body {
  background-color: #000;
    border: solid 8px #0fff;
    transition: .5s;
    margin: 0 0;
    height: 98.22vh;
}


a.shup {
  font-family: "lemonmilk";
  font-size: 300px;
  color: #fff;
  letter-spacing: 15px;
  text-align: center;
  /*line-height: 98.22vh;*/
  vertical-align: middle;
  display: block;
  transition: .5s;
  padding-top: 225px;
}

a.shup::first-letter {
  text-shadow: 0 0 0 transparent, 0px 0px 15px #fff;
color: #050505;
}

/*#glow {
  font-size: 150px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }

  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}
*/

/*a.projects {
  font-family: "poppins";
  color: #fff;
  font-size: 16px;
  letter-spacing: 15px;
  font-weight: 600;
}
*/

a.projects {

}


div.hidden {
  display: none;
}


/*a.shup::first-letter:hover {
  text-shadow: 0 0 0 transparent, 0px 0px 15px #fff;
  color: #050505;

}*/

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

::-moz-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-moz-scrollbar-thumb {
    background: #FF0000;
}



body.hidden {
  display: none;
}




a.proj {
  font-family: "lemonmilk";
  font-size: 250px;
  color: #fff;
  letter-spacing: 15px;
  text-align: center;
  /*line-height: 98.22vh;*/
  /*vertical-align: middle;*/
  display: block;
  transition: .5s;
  padding-top: 225px;
}

a.proj::first-letter {
  text-shadow: 0 0 0 transparent, 0px 0px 15px #fff;
color: #050505;
}



a.proj {

}


.teslaButton {
	background-color:transparent;
	-moz-border-radius:28px;
	-webkit-border-radius:28px;
	border-radius:28px;
	border:2px solid #ffffff;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 37px;
	text-decoration:none;
  margin-right: 20px;
  transition: .5s;
}
.teslaButton:hover {
	background-color: #fff;
  color: #000;
}
.teslaButton:active {
	position:relative;
	top:1px;
}

div.buttons {
  text-align: center;
}


@media (max-width: 420px) {
a.shup {
  font-size: 95px;
}

a.teslaButton#tesla {

}

a.teslaButton#hello {

}

a.teslaButton#dark {
  padding: 14px 18.5px !important;
  margin-top: 16px;
  margin-left: 15px;
}

a.teslaButton#yt {
padding: 14px 18.5px !important;
}

}

@media (min-width: 770px) {
a.shup {
  font-size: 250px;
}


}


@media (min-width: 800px) {
a.shup {
  font-size: 250px;
}


}


@media (min-width: 760px) {
a.shup {
  font-size: 250px;
}

a.teslaButton#tesla {

}

a.teslaButton#hello {

}

a.teslaButton#dark {
  padding: 14px 16.5px !important;
  margin-top: 16px;
  margin-left: 15px;
}

a.teslaButton#yt {
padding: 14px 16.5px !important;
}

}
