.dinky {
  font-family: "lemonmilkregular";
  vertical-align: middle;
padding-top: 25%;
height: 800px;
overflow: hidden;
color: black;
/*position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;*/
}

#oop {
  text-align: center;
line-height: 46px;
  vertical-align: middle;

}

.dinky h1 {

}

#french button {
background-color: #0866f0;
border: none;
border-radius: 5px;
font-size: 16px;
font-family: "lemonmilkregular";
}

body {
  margin: 0 0;
  margin-top: 0;
  transition: .5s;

}

.dinky {

}

.dinky.oof {
  background-color: #050505;

}

.dinky.oof2 {
  color: #fff;

}

body.change {
  background-color: #050505;

}

#oop a {

}
